* {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.button {
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  color: #fff;
  width: auto;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: none;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid white;
}
